#content1{background-color:yellow;
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
padding-bottom: 110px;}
#content2{background-color: red;
padding: 120px 10px 20px 10px; }
#content3{background-color: blue;
padding: 50px 80px;}
